# showcase related ignores
example/showcases/crna-based/some-crnapp/node_modules/
example/showcases/crna-based/some-crnapp/android/
example/showcases/crna-based/some-crnapp/ios/
example/showcases/crna-based/some-crnapp/.expo/
example/showcases/crna-based/some-crnapp/npm-debug.*
example/showcases/crna-based/some-crnapp/yarn.lock
